<div class="container">
<h1>New Category</h1>

  <%= render 'form', category: @category %>
  <%= link_to 'Back to Pantry', pantries_path, class: 'btn btn-mini' %> |
  <%= link_to 'Edit Category list', categories_path, class: 'btn btn-mini' %>
</div>