<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Category name:</strong>
  <%= @category.category_name %>
</p>


<%= link_to 'Back', categories_path, class: 'btn btn-mini' %>
</div>